<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConn" 
         connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=MyDatabase2;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
    <add name="MyConnOleDB" 
         connectionString="Provider=sqloledb;Data Source=(localdb)\ProjectModels;Initial Catalog=MyDatabase2;Integrated Security=SSPI;" 
         providerName="SQLOLEDB" />
  </connectionStrings>
</configuration>